# Data Science Tools and Ecosystem

"In this notebook, Data Science Tools and Ecosystem are summarized."

"Some of the popular languages that Data Scientists use are:"
1. PYTHON
2. R
3. SQL
4. JULIA
5. SCALA

"Some of the commonly used libraries used by Data Scientists include:"
1. NUMPY
2. PANDAS
3. MATPLOTLIB
4. SCIKIT-LEARN

|Data Science Tools|
|-------------------|
|matplotlib|
|tableau|
|jupyter notebook|
|R|
|excel|

#arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
 #this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objectives
- R
- jupyter notebook
- tools for data science

## Author
"swarnalipi sahu"